.component{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;
}

.component:active {
    transform: scale(0.98);
}

.picture{
    height: 100%;
}