.page {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* stack children vertically */
    align-items: center;    /* center horizontally */
    background-color: transparent;

}
.header {
    width: 100%;
    height: auto;          /* let image define height */
    min-height: 200px;
    margin-top: 4px;
    text-align: center;
    border-bottom: 1px solid white;
}
.header img {
  width: 100%;
  height: auto;          /* avoid overlap */
  display: block;        /* remove inline spacing issues */
  object-fit: contain;
}
.bodyText{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  color: rgba(255,255,255,.9);
}
.bodyText h2{
  margin: 0;
  font-weight: 400;
}
.bodyText p{
  margin: 5px 0 0 0;
  font-weight: 200;
}
.reactIcon{
  font-size: 30px;
  color: white;
}
.loginContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0px;
  position: relative;
}
.inputGroup{
  width: 90%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #202020;
  border-radius: 3px;
}
.inputGroup input{
  flex: 1;
  height: 50px;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  color: white;
  border: none;
}
.leftAddon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  font-size: 18px;
  font-weight: 200;
  color: rgba(255,255,255,.9);
  background-color: transparent;
  box-sizing: border-box;
  background-clip: padding-box;
  border: none;
}
.leftAddon + input{
  width: 80px;
  background: transparent;
}
.rightAddon{
  height: 50px;
  width: 50px;
  background: orangered;
  color: white;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  border: none;
}
.inputGroup input.hasRightAddon,
.inputGroup input.hasRightAddon:focus{
  border: none;
}
.eyeButton{
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #121212;
}
.loginContainer button[type="submit"] {
  width: 90%;
  height: 55px;
  background-color: orangered;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.inputGroup input:focus,
.rightAddon:focus,
.leftAddon:focus,
.eyeButton:focus,
.loginContainer button[type="submit"]:focus{
  box-shadow: 0 0 1 0px rgba(255,255,255,0.25);
}

/* same as before, only change is to use eyeButton for calendar */
.inputGroup input.hasRightAddon,
.inputGroup input.hasRightAddon:focus{
  border: none;
}

.eyeButton{
  height: 50px;
  width: 50px;
  background: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #121212;
}
