/* Layout */
.page {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-bottom: 60px; 
  gap: 10px;
  box-sizing: border-box; 
  padding: 5px;
  overflow-x: hidden;
  position: relative;
}

/* Profile */
.profile {
  margin-top: 20px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.2);
  background-color: #101010;
  gap: 5px;
  padding: 0px 0 20px 0;
  border-radius: 3px;
  z-index: 1;
}

.profile span,
.profile p {
  margin: 0;
}

/* Profile picture */
.profilePic {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.5);
}

/* Logout Button */
.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  background-color: #121212;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  border-radius: 3px;
}

.logout span {
  width: 35px;
}

.icon {
  font-size: 35px;
  text-shadow: 3px 3px 3px black;
}
/* Animations */
@keyframes lavaFlow {
  0% {
    filter: brightness(1) saturate(1.2) drop-shadow(0 0 6px rgba(255, 69, 0, 0.6));
    transform: scale(1) translateY(0) rotate(30deg);
  }
  25% {
    filter: brightness(1.2) saturate(1.4) drop-shadow(0px 0px 6px rgba(255, 100, 0, 0.8));
    transform: scale(1.02) translateY(-1%) rotate(30deg);
  }
  50% {
    filter: brightness(1.3) saturate(1.6) drop-shadow(0 12px 9px rgba(255, 0, 0, 1));
    transform: scale(1.03) translateY(1%) rotate(30deg);
  }
  75% {
    filter: brightness(1.1) saturate(1.3) drop-shadow(0 0 8px rgba(255, 69, 0, 0.8));
    transform: scale(1.01) translateY(-0.5%) rotate(30deg);
  }
  100% {
    filter: brightness(1) saturate(1.2) drop-shadow(0 4px 6px rgba(255, 69, 0, 0.6));
    transform: scale(1) translateY(0) rotate(30deg);
  }
}
.background{
  position: absolute;
  height: 500px;
  top: 0px;
  animation: descent 3s ease-in-out forwards, lavaFlow 6s ease-in-out infinite 4s;
}
@keyframes descent{
  0%{
    top: -500px;
  }
  100%{
    top: -200px;
    transform: rotate(30deg);
  }
}

@keyframes sparkle {
  0%   { text-shadow: 0 0 10px rgba(0, 200, 0, 0.2); }
  50%  { text-shadow: 0 0 10px rgba(0, 255, 0, 1); }
  100% { text-shadow: 0 0 10px rgba(0, 200, 0, 0.2); }
}

@keyframes breathe {
  0%   { box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); background-color: #008000; }
  50%  { box-shadow: 0 0 6px rgba(0, 255, 0, 1); background-color: #00ff00; }
  100% { box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); background-color: #008000; }
}