.component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.background{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ----------------- */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    gap: 10px;
}
.vip{
  width: 30px;
}
.bar{
    position: relative;
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    background-color: #202020;
    overflow: hidden;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: green;
    transition: width ease-in-out .5s;
    border-radius: 10px;
    animation: sparkle 2s ease-in-out infinite;
    overflow: hidden;
}

/* ----------------- */
.under {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  overflow: hidden; /* optional, can remove */
  transition: height 0.4s ease; /* optional smooth transition */
}

.button {
  width: 100%;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgba(255, 255, 255, .3);
  font-size: 16px;
  font-weight: 100;
  transition: height 0.4s ease, color 0.4s ease;
}

.expanded {
  height: 450px;
  color: white;
}

.collapsed {
  height: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
  .icon {
    transition: transform 0.3s ease-in-out;
  } 
  .expanded .icon {
      transform: rotateX(180deg);
  }
/*----------------- Animations -----------------*/

@keyframes bg {
  0%   { filter: brightness(1)   }
  10%  { filter: brightness(2.5) }
  20%  { filter: brightness(1.2) }
  30%  { filter: brightness(2.8) }
  40%  { filter: brightness(1.1) }
  50%  { filter: brightness(2.4) }
  60%  { filter: brightness(1.3) }
  70%  { filter: brightness(2.7) }
  80%  { filter: brightness(1.2) }
  90%  { filter: brightness(2.6) }
  100% { filter: brightness(1)   }
}
@keyframes sparkle {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.1);
    background-color: #008000;
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
    background-color: #00ff00;
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.1);
    background-color: #008000;
  }
}
