.component{
    width: 100%;
    height: 100%;
    background-color: rgba(5,5,5, 1);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    animation: fadeIn .1s ease-in-out forwards;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Close Button */
.closeButton{
    background-color: #101010;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0px;

    position: fixed;
    top: 30px;
    right: 30px;

    color: orangered;
    font-size: 22px;
    display: flex;  
    align-items: center;
    justify-content: center;
    z-index: 10;
}
/* Depositar/Title */
.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.title span, p {
    margin: 0;
    color: rgba(255,255,255,.5);
    font-weight: 100;
}
.title span{ 
    font-size: 24px;
    font-weight: 00; 
    color: rgba(255,255,255,.9);
}

/* Woovi Icon */
.provider {
    position: relative;
    width: 100px;
    height: 60px;
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #101010;
    border: 1px solid #171717;
    border-radius: 10px;

    color: rgba(255, 255, 255, 0.9);
}
.wooviIcon{
    width: 90%;
}
.provider span {
    position: absolute;
    bottom: -20px;
}

/* Information  */
.information{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.information div{
    background-color: #151515;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #181818;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
    justify-content: space-evenly;
}
.information div span {
    position: relative;
    color: rgba(255, 255, 255, 0.9);
}
.information div p{
    position: absolute;
    top: -30px;
    left: 0px;
}
.pixIcon {
    height: 20px;
    position: relative;
    filter: drop-shadow(0px 0px 10px rgba(155, 255, 155, 0.7));
    animation: breathing 2s ease-in-out infinite;
}

/* Finance */
.valueInfo{
    color:rgba(255, 255, 255, 0.4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.component input{
    width: 100%;
    height: 60px;
    border: 0px;
    border-radius: 5px;
    background-color: #101010;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.7);
}
.interactives {
    position: relative;
    width: 100%;
    background: #101010;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    gap: 12px;
    padding: 20px;
}
.interactives button{
    position: relative;
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #202020;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 300;
    
}
.generatePix{
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: orangered;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 0 10px #050505;
}




@keyframes fadeIn {
  0% {
    opacity: .5;
    }
  100% {
    opacity: 1;
  }
}
@keyframes breathing {
    0% {filter: drop-shadow(0px 0px 10px rgba(155, 255, 155, 0.9));}
    50% {filter: drop-shadow(0px 0px 10px rgba(155, 255, 155, 0.1));}
    100% {filter: drop-shadow(0px 0px 10px rgba(155, 255, 155, 0.9));}
}
