.component{
    width: 100vw;
    height: 100vh;
    background-color: rgba(5,5,5, .95);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.closeButton{
    background-color: #101010;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0px;

    position: fixed;
    top: 30px;
    right: 30px;

    color: orangered;
    font-size: 22px;
    display: flex;  
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.title span, p {
    margin: 0;
    color: rgba(255,255,255,.5);
    font-weight: 100;
}
.title span{ 
    font-size: 24px;
    font-weight: 500; 
    color: rgba(255,255,255,.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.provider {
    position: relative;
    width: 100px;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #101010;
    border: 1px solid rgba(61, 49, 49, 0.5);
    border-radius: 10px;

    color: rgba(255, 255, 255, 0.9);
}
.provider img {
    height: 100%;
}
.provider span {
    position: absolute;
    bottom: -20px;
}

.information{
    width: 100%;
    height: 60px;
    border: 1px solid grey;
    margin-top: 20px;
    color: whitesmoke 
}
.information div{
    background-color: #202020;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}