.component{
    width: 100%;
    height: 100px;
    border-radius: 10px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    background-color: #202020;
    animation: slideIn .7s ease forwards;
}





@keyframes slideIn{
    0%{top:-100px}
    100%{top: 65px}
}