.finance {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.funds {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}

.finance p {
  color: rgba(0, 255, 0, 0.8);
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  animation: sparkle 2s ease-in-out infinite;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  padding-inline: 10px;
}

.buttons button {
  height: 35px;
  width: 90%;
  border: 0;
  border-radius: 3px;
  color: white;
  position: relative;
  background-color: rgba(255, 255, 255, .1);
  cursor: pointer;
}
.icon{
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: -10px;
  z-index: 1;
  left: 50%;
  filter: drop-shadow(0px 0px 4px black);
  transform: translateX(-50%) rotate(90deg);
}
.withdraw {
  background-color: rgba(0, 0, 0, 0);
}

.deposit {
  animation: breathe 2s ease-in-out infinite;
  text-shadow: 0px 0px 13px black;
}

@keyframes sparkle {
  0% {
    text-shadow: 0 0 10px rgba(0, 200, 0, 0.2);
  }
  50% {
    text-shadow: 0 0 10px rgba(0, 255, 0, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 200, 0, 0.2);
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
    background-color: #00ff00;
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 255, 0, .5);
    background-color: #00ff00;
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3);
    background-color: #00ff00;
  }
}
