.component{
    width: 100%;
    max-height: 510px;
    height: auto;
    background-color: transparent;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* buttons */
.buttons{
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    box-sizing: border-box;
    gap: 1px;
}
.buttons button{
    width: 100%;
    border: 0;
    color: white;
    background-color: transparent;
    margin: 0;
    cursor: pointer;

}
.b1{
    border-bottom-left-radius: 3px;
}
.b2{
    border-bottom-right-radius: 3px;
}

/* container + cards */
.transactions{
    width: 100%;
    background-color: transparent;
    overflow-y: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 15px;
}
.TransactionCard{
    width: 100%;
    height: 100px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, .1) ;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, .1);
}
/*  internal info */
.TransactionCard p{
    margin: 5px;
    width: auto;
}