.container{
  width: 100%;  
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
}
.producerIcon{
  height: 35px;
  align-self: flex-start;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
}
.producerButton{
  padding: 0px 5px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 5px;
  }.buttonArrow{
      color: rgba(255, 255, 255, 0.2);
      font-size: 20px;
    }
.content{
  background-color: rgba(24, 24, 24, .1);
  width: 100%;
  height: 220px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 5px;
  overflow-x: scroll;
}
