.container{
  width: 100%;  
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
}
.producerIcon{
  height: 35px;
  align-self: flex-start;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
}
.producerButton{
  padding: 0px 5px;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 8px;
  text-decoration: none;
}

.title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttonArrow{
      color: rgba(255, 255, 255, 0.4);
      font-size: 18px;
      transition: transform 0.2s ease;
    }

.producerButton:hover .buttonArrow {
  transform: translateX(3px);
  color: orangered;
}

.content{
  background-color: rgba(255, 255, 255, 0.03);
  width: 100%;
  height: 210px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 12px;
  padding: 5px;
  overflow-x: auto;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.content::-webkit-scrollbar {
  display: none;
}
