.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 5px 5px 0px 5px;
    box-sizing: border-box;
}

/* Promotional Section */
.promoSection{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);;
    border-radius: 5px;
    margin-top: 70px;
    height: 180px;
    animation: fadeIn .1s forwards;

}

/* Content Section */
.gamesSection{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    animation: fadeIn .5s ease-in-out forwards;

}


@keyframes fadeIn {
  0% {
    /* opacity: 0; */
    transform: translate(0, 50vh); /* start from vertical center of viewport */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* final position, top stays */
  }
}