.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    padding: 5px 5px 0px 5px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (min-width: 1024px) {
    .mainContainer {
        gap: 30px;
        padding: 20px 0;
    }
}

.background{
    position: absolute;
    height: 60vh;
    min-height: 500px;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.8;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.headerContent {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.searchWrapper {
  padding: 0; /* Removed padding to match width of other elements */
}

/* Promotional Section */
.promoSection{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);;
    border-radius: 3px;
    margin-top: 70px;
    height: 180px;
    animation: fadeIn .1s forwards;

}

/* Content Section */
.gamesSection{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    animation: fadeIn .5s ease-in-out forwards;
    z-index: 1;
    gap: 30px; /* Added breathing room */
    margin-bottom: 20px;
}


@keyframes fadeIn {
  0% {
    /* opacity: 0; */
    transform: translate(0, 50vh); /* start from vertical center of viewport */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); /* final position, top stays */
  }
}