/* Search Section */
.searchSection{
    background-color: #202020;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* animation: slideIn .9s ease-in-out forwards; */
}

.searchButton{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    }.searchIcon{
        font-size: 28px;
        }
        
.searchInput{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    text-align: center;
}


@keyframes fadeIn {
  0% {
    opacity: .5;
    scale: .5;
    transform: translate(0, 100vh); /* start from vertical center of viewport */
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translate(0, 0); /* final position, top stays */
  }
}
@keyframes slideIn {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0, 0);
}
}