.component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

    width: 100%;
    height: 60px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: 3px solid rgba(255,69,0, 1);
    
    box-shadow: 0px 0px 12px 2px black;

    background-color: #101010;


    position: fixed;
    top: 0;
    z-index: 1000;
    }

.icon{
    height: 100%;
    width: 70px;
    filter: drop-shadow(0px 2px 4px rgba(255, 69, 0, .6));
}
