.component{
    position: fixed;
    bottom: -5px;
    
    width: 100%;
    height: 60px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
}

.icon{
    width: 100%;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,.9));
}

.button{
    width: 50px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 4px black;
    filter: drop-shadow(0px -2px 1px rgba(0,0,0,.9));
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  opacity: 1;
  animation: lavaFlow 6s ease-in-out infinite;
}



@keyframes lavaFlow {
  0% {
    filter: brightness(1) saturate(1.2) drop-shadow(0 0 6px rgba(255, 69, 0, 0.6));
    transform: scale(1) translateY(0);
  }
  25% {
    filter: brightness(1.2) saturate(1.4) drop-shadow(0px 0px 6px rgba(255, 100, 0, 0.8));
    transform: scale(1.02) translateY(-1%);
  }
  50% {
    filter: brightness(1.3) saturate(1.6) drop-shadow(0 12px 9px rgba(255, 0, 0, 1));
    transform: scale(1.03) translateY(1%);
  }
  75% {
    filter: brightness(1.1) saturate(1.3) drop-shadow(0 0 8px rgba(255, 69, 0, 0.8));
    transform: scale(1.01) translateY(-0.5%);
  }
  100% {
    filter: brightness(1) saturate(1.2) drop-shadow(0 4px 6px rgba(255, 69, 0, 0.6));
    transform: scale(1) translateY(0);
  }
}