.component{
    position: fixed;
    bottom: -5px;
    
    width: 100%;
    height: 60px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: #101010;
    z-index: 1000;
}

.icon{
    width: 100%;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,.9));
}

.button{
    width: 50px;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 0px 2px 4px black;
    filter: drop-shadow(0px -2px 1px rgba(0,0,0,.9));
}

.background {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 110%;
    height: 100%;
}