html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #111111;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

button, a, input {
  -webkit-tap-highlight-color: transparent; /* removes mobile blue highlight */
  outline: none; /* removes focus outline */
}
